body {
  background-color: #232323;
  color: #fff;
 }
ul.nav {
	border-bottom: 1px solid #cdcdcd;
}
input[type="submit"],
input[type="button"],
button {
  color: #aaa;
  border-color: #aaa;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  color: #fff;
  border-color: #fff;
}
input[type="text"],
input[type="password"] {
  color: #000;
}
div.link-button {
  color: #aaa;
}
div.link-button:hover {
  color: #fff;
  border-color: #888;
}
div.link-button.color-toggle {
  color: #555;
  background: #aaa;
  width: 2.6em;
}
div.link-button.color-toggle:hover {
  color: #333;
}
ul.note-list span.date {
  color: #aaa;
}
div.notepad {
  border-top: 1px solid #aaa;
}
span.note-status {
  color: #aaa;
}
